@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap');

html, body {
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: min-content;
  font-family: 'Roboto', sans-serif;
}
body {
  position: relative;
}
.about-me {
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  position: relative;
  font-size: 1.6rem;
}
.about-me, .my-work {
  padding-bottom: 8rem;
}
.my-name {
  width: min-content;
  position: absolute;
  font-family: 'Playfair Display', sans-serif;
  bottom: 300px;
  left: 20px;
  color: white;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
  height: 0px;
  margin: 0;
}
.about-me > .my-links-container, .contact-info > .my-links-container {
  display: flex;
  justify-content: center;
}
h2 {
  margin: 0;
  height: fit-content;
  width: fit-content;
  font-family: 'Playfair Display', 'Roboto' ,sans-serif;
}
.header-pic {
  object-fit: contain;
  width: 100%;
  margin: 0;
  box-shadow: 0 0 22px 4px rgba(0, 0, 0, .3);
}
.draw {
  position: absolute;
  transform: rotate(-25deg);
  top: -540px;
  left: -250px;
  height: 800px;
  width: 800px;
  z-index: -1;
  background-color: #0891b2;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
}
.my-links-container {
  display: flex;
  gap: 18px;
}
.logo {
  width: 40px;
}
.my-work {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  margin: 0 20px 20px 20px;
  gap: 60px;
}
.project-card {
  display: grid;
  grid-template-rows: 3fr 2fr;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .3);
  background-color: #fff;
}
.spacing {
  margin: 0 auto
}
.project-card-screenshot-container {
  display: flex;
  align-items: center;
  background-color: blueviolet;
  justify-content: center;
  font-size: 1.6rem;
}
.project-card-screenshot {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;

}
.project-screenshot-link {
  height: 100%;
  width: 100%;  
  overflow-x: hidden;
  overflow-y: hidden;
}
.project-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}
.project-header > h3 {
  margin: 20px 0;
  font-family: 'Playfair Display', sans-serif;
}
.project-header > .my-links-container > a > .logo {
  width: 2.3rem;
}
.project-info {
  margin: 10px;
  font-size: 1.4rem;
}
.project-info > h3 {
  width: fit-content;
}
.contact-me {
  background-color: #0891b2;
  height: min-content;
  font-size: 1.6rem;
  color: white;
  padding-bottom: 0;
}
.email {
  font-size: 1.3rem;
}
.contact-me-blurb {
  font-size: 1.6rem;
}
.contact-info {
  padding: 20px;
}
.contact-info > h2 {
  margin-top: 0;
}
.wide {

  width: fit-content;
}
@media  (min-width: 500px) {
  .my-work {
    align-items: start;
  }
  .my-work > h2 {
    margin-left: 55px;
  }
  .about-me {
    margin-top: 120px;
  }
  .about-me > .my-links-container {
    display: none;
  }
  .float-image {
    margin: 0 65px 0 55px;
    box-shadow: 0px 0px 18px 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  .my-name {
    width: fit-content;
    top: 30px;
    margin-left: -80px;
    left: 40vh;
  }
  .header-pic {
    width: 60%;
    float: left;
    position: relative; 
    left: -70px;
    top: -115px;
    margin:  0 -55px -115px 0;
  }
  .about-me-header {
    margin: 80px 0 0 0;
    padding-left: 50%;
    width: 180px;
  }
  .about-me-block {
    padding:  0 50px 80px 50px;
  }
  .card-container {
    width: 90%;
    margin: 10px auto 80px auto;
    justify-content: space-between;
  }
  .contact-me {
    display: flex;
    padding: 50px;
  }
  .contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .contact-info > .my-links-container {
    padding-right: 80px;
  }
  .draw {
    width: 130%;
    left: -300px;
  }
  .wide {
    height: auto;
    width: 100%;
  }
}
@media (min-width: 1050px) {
  .header-pic {
    margin: unset;
  }
  .about-me-section {
    padding-bottom: 70px;
    margin-top: 160px;
    padding-top: 70px;
  }
  .float-image {
    margin-top: -10px;
  }
  .about-me-block {
    padding: 0 0 0 0;
  }
  .header-pic {
    height: 85vh;
    width: unset;
    top: -220px;
    left: -10px;
    margin-bottom: -213px;
  }
  .about-me-header {
    margin-top: 0px;
    padding-left: 76vh;
  }
  .my-work {
    margin-top: 20px;
    margin-bottom: -70px;
    max-width: 90%;
  }
  .my-work > h2 {
    margin: 50px 0 20px 70px;
  }
  .card-container {
    box-sizing: border-box;
    padding: 0 0px;
    margin: 0 auto 20px auto;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .draw {
    transform: rotateZ(-6deg);
    top: -300px;
  }
  .wide {
    width:93%;
    margin: 0 auto -10px auto;
  }
  .current-works {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .wips {
    background-color: #0891b2;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: unset !important;
    padding-bottom: 0;
  }
  .current-project {
    grid-column-start: 2;
  }
  .about-me > .my-links-container {
    box-sizing: border-box;
    display: unset;
    margin: -72px 90px 0 auto;
    float: right;
  } 
  .my-links {
    display: flex;
    align-items: center;
  }
  .my-name {
    top: 72vh;
    width: 57vh;
    z-index: 3;
    position: absolute;
  }
}